.exercise-container {
  width: 90%;
  height: 350px;
  border: none;
  margin: auto;
  border-radius: 8px;
  background-color: white;
  margin-top: 30px;
}

.exercise-container img {
  width: 100%;
  height: 250px;
  padding: 15px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: rgb(198, 226, 239);
}
.exerciseInfo {
  padding: 10px;
}
.exerciseInfo p {
  font-weight: 500;
  margin: 0;
  margin-bottom: 8px;
}
.smallInfo {
  font-weight: bold;
}
.addlistBtn {
  width: 100%;
  background-color: #6056eb;
  border: none;
  height: 48px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}
.addlistBtn:hover {
  background-color: rgb(25, 187, 133);
}
